@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stage {
    width: 200px;
    height: 300px;
    @include centerer;
    perspective: 1000px;
    transform-style: preserve-3d;
}
@keyframes flip1 {
    99.99% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: rotateX(-90deg);
    }
}
@keyframes flip2 {
    0.01% {
        opacity: 1;
    }
    to {
             opacity: 1;

        transform: rotateX(0deg);
    }
}
.page {
    width: 200px;
    height: 150px;
    background: #000;
    overflow: hidden;
    position: absolute;
    &::before {
        content: attr(data-num);
        display: block;
        color: #fff;
        width: 200px;
        height: 300px;
        line-height: 300px;
        font-size: 9em;
        text-align: center;
        position: absolute;
        left: 0;
    }
    &.next.top {
        &:before {
            top: 0;
        }
    }
    &.prev.top {
        &:before {
            top: 0;
        }
        transform-origin:50% 100%;
        animation:flip1 .5s linear forwards;
    }
    &.next.bottom {
        &:before {
            bottom: 0;
        }
        bottom: 0;
        opacity:0;
        transform-origin:50% 0%;
        transform: rotateX(90deg);
        animation:flip2 .5s linear .5s forwards;
    }
    &.prev.bottom {
        &:before {
            bottom: 0;
        }
        bottom:0;
    }
}
